*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: black;
    overflow: hidden;
    color: lightcoral;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: monospace;
}

header h1{
    padding-top: 20px;
}

main{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    font-size: 22px;
    font-family: monospace;
}

canvas{
    border: 2px solid white;
}







